
.carasole{
  height: 100vh;
  width: 100%;
}


    .navbar{
      position: fixed;
      top:0;
      display: flex;
      z-index: 1;
      width: 100%;
      height: 60px;
      background: rgba(238,239,239,0.78);
      width: 1110px;
      height: 56px;
      margin-left: 250px;
      margin-top: 17px;
      border-radius: 20px;

    }


    .navbar ul{
      display: flex;
      width: 100%;
      list-style: none;
      justify-content: left;
      padding-left: 0px;
    }
    .navbar ul li{
      margin:0.2rem;
      padding-right: 0;
      padding-top: 5px;
    }
    .navbar ul li a {
      text-decoration: none;
      color: #1F1F1F;
      font-size: 16px;
      padding-right: 20px;
      font-family:cursive;
    }

    .navbar ul li img{
      padding-right: 12px;
      height: 17px;
    }

    .menu{
      margin-left: 410px;
      display: none;
    }

    .fb{
      margin-left: 407px;
    }

    .navbutton{
        text-decoration: none;
    font-size: 18px;
    color: white;
    border: none;
    border-top-right-radius: 17px;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    background-color: black;
    height: 30px;
    margin-right: 20px;
  }
  
  .moref{
    font-size: 12px;
  border-color: white;
  border:3px solid;
    background: transparent;
    color: white;
    justify-content: center;
    margin-left: 375px;
    font-family: cursive;
    padding: 0.6rem;
  }


  .moref1{
    font-size: 12px;
  border-color: white;
  border:3px solid;
    background: transparent;
    color: white;
    justify-content: center;
    margin-left: 200px;
    font-family: cursive;
    padding: 0.6rem;
  }

  .back1{
    background-image:linear-gradient(rgba(255,255,255,0),rgba(0,0,0,0.9));
  }


.middle{
  text-align: center;
  justify-content: center;
  padding-top: 100px;
  font-family: 'Barlow', sans-serif;
  font-size: 25px;

 }
.middle1{
  text-align: center;
  justify-content: center;
  padding-top: 100px;
  font-family: 'Barlow', sans-serif;
  font-size: 20px;

}

 .container{
  display: flex;
  padding-top: 65px;
 }

 .box2 img,.box1 img{
     padding-right: 30px;
 }

 .box1 h4,.box2 h4,.box3 h4{
  text-align: center;
  padding-top: 25px;
  font-family: 'Barlow', sans-serif;

 }

  .box1 p,.box2 p,.box3 p{
  opacity: 0.75;
  display: flex;
  width: 350px;
  justify-content: center;
  text-align: justify;
  padding-top: 20px;
  padding-bottom: 150px;
 }

.banner{
  background-color: black;
}
.banner img{
  opacity: 0.5;
  height: 540px;
  width: 100%;
}

.bannertext{
  position: absolute;
  padding-top: 3600px;
  color: white;
  line-height: 1rem;
  font-family: 'Barlow', sans-serif;
  text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
}

.bannertext1{
  font-size: 75px;
}

.bannertext2{
  line-height: 5rem;
  font-size: 20px;
}

.ctext1{
  font-size: 45px;
  text-align: center;
  padding-top: 75px;
  font-family: 'Barlow', sans-serif;

}

.ctext2{
  opacity: 0.75;
  text-align: center;
  width: 1300px;
  padding-left: 250px;
  font-size: 17.7777px;
  padding-bottom: 77px;
  padding-top: 45px;
}

.wrapper1{
  display: flex;
}

.wrapper1img1{
  padding-left: 260px;
  padding-right: 60px;
}

.img1{
  padding-left: 260px;
  padding-top: 40px;
  padding-bottom: 205px;
}

.banner2{
  background-color: black;
}
.banner2 img{
  opacity: 0.5;
  height: 540px;
  width: 100%;
}


.bannert2{
  position: absolute;
  padding-top: 9990px;
  color: white;
  line-height: 1rem;
  font-family: 'Barlow', sans-serif;
  text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
}

.bannerte1{
  font-size: 75px;
}

.bannerte2{
  line-height: 5rem;
  font-size: 20px;
}



.bannert3{
  position: absolute;
  padding-top: 15790px;
  color: white;
  line-height: 1rem;
  font-family: 'Barlow', sans-serif;
  text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
}

.bannerte13{
  font-size: 75px;
}

.bannerte23{
  line-height: 5rem;
  font-size: 20px;
}


.wrapper1img11{
  padding-left: 260px;
  padding-right: 30px;
}


.bannert4{
  position: absolute;
  padding-top: 21080px;
  color: white;
  line-height: 1rem;
  font-family: 'Barlow', sans-serif;
  text-align: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
}

.bannerte14{
  font-size: 75px;
}

.bannerte24{
  line-height: 5rem;
  font-size: 20px;
}

.abovefoot{
  background-color: #E1E1E1;
  height: 88px;
  padding-top: 35px;
  padding-left: 766px;
}

.abovefoot img{
  height: 27px;
}

.footer{
  background-color: #161820;
  height: 190px;
  padding-top: 30px;
}

.footer h4{
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Barlow', sans-serif;

}
.footer p{
  padding-top: 20px;
  color: white;
  text-align: center;
}

.img112{
   padding-left: 260px; 
   padding-bottom: 30px;
   width: 1375px;"
}

.img113{
  padding-left: 260px; width: 1375px; padding-bottom: 105px;" 
}


@media only screen and (max-width:1000px){



    .navbar{
      width: 26.6%;
      margin-left: 0px;
      position: fixed;

            position: fixed;
      top:0;
      display: flex;
      z-index: 1;

    }

    .navbar ul li a{
      display: none;
    }

    .navbar ul li img{
      padding-left: 0px;
      /*display: none;*/
    }

.menu{
  display: block;
  margin-left: 190px;
}


.middle,.middle1{
  padding-right: 20px;
  padding-left: 20px;
}


.container{
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.bannertext{
  padding-top: 6300px;
}

.ctext1{
  font-size: 35px;
}

.ctext2{
  padding-left: 10px;
  width: 360px;
}

.wrapper1{
  display: flex;
  flex-direction: column;
  width: 350px;
}

.wrapper1img1{
  padding-left: 15px;
  padding-right: 20px;
  padding-bottom: 30px;
}

.wrapper1img1 img{
  height:460px;
  width: 345px;
}

.wrapper1img11 img{
  height:460px;
  width: 345px; 
}

.wrapper1img11{
  padding-left: 15px;
  padding-bottom: 20px;
}

.wrapper1img2{
  padding-left: 15px;
}

.wrapper1img2 img{
  height:460px;
  width: 345px;
}

.img1{
  height:460px;
  width: 345px;
  padding-left: 15px;
  padding-bottom: 45px;
}

.banner2 img{
  height: 584px;
  width: 375px;
}


.bannert2{
  padding-top: 11410px;
}

.bannerte1{
  width: 360px;
  font-size: 40px;
}

.bannert3{
  padding-top:16900px 
}

.bannerte13{
  width: 360px;
  font-size: 40px;
}

.bannert4{
  padding-top: 23000px;
}

.img112{

  height:460px;
  width: 350px;
  padding-left: 20px;
}
  
}



